
The following job failed.

Job Information:
JobId: ${jobId}
JobName: ${jobName}
UserName: ${userName}
Start Time Stamp: ${startTimeStamp}
End Time Stamp: ${endTimeStamp}
Status: ${status}

Regards,
SWE DEV